{block title}Košík{/block}
{block robots}noindex,nofollow{/block}
 {block content}

 <section class="cart">
     <section class="cart-section">
         <div class="auto-container">
             <div class="row">
                 <div class="col-sm-12">
                     Košík je prázdný.
                 </div>
             </div>
         </div>
     </section>

     {include '../include/parts.latte'}
 </section>