<form n:name="loginForm" class="form" style="width: 33%;margin: 0 auto">
    <h3>Login</h3>
    <br>
    <input n:name="email" class="form-control">
    <br>
    <input n:name="password" class="form-control">
    <br>
    <input n:name="submit"  class="btn btn-primary" value="Přihlásit se">
</form>