{varType App\Model\Product $product}
{default $product = false}
<div class="col-sm-12">
    <a href="{link Homepage:default}"><i class="flaticon-home"></i></a>
    {foreach $parentCategories as $parentCategory}
        /
        <a href="{link SpareParts:default, 'seoName' => $parentCategory->url}">
            {$parentCategory->name}
        </a>
    {/foreach}
    <a n:if="$product">
        {$product->productName}
    </a>
</div>