<!-- Stylesheets -->
<link href="{$basePath}/module/front/css/bootstrap.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/style.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/responsive.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/bootstrap-treeview.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/cookieconsent.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/fancybox/core.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/fancybox/thumbs.css" rel="stylesheet">
<link href="{$basePath}/module/front/css/swiper/swiper-bundle.min.css" rel="stylesheet">
