{block content}
{include './include/slider.latte'}
{include './include/description.latte'}
{*{include './include/numbers.latte'}*}
{*include './include/recommended.latte'*}
{include '../include/parts.latte'}
{*include './include/news.latte'*}
{include './include/reviews.latte'}
{include './include/contact.latte'}