<form  n:name="newsletterForm" id="main-contact-form" name="contact-form" method="post">
    <div class="col-sm-8" style="padding:0">
        <input n:name="email" class="form-control" style="margin-bottom:0;height:40px;font-size:18px;color:black;border-top-right-radius: 0;border-bottom-right-radius:0" placeholder="Emailová adresa">
    </div>
    <div class="col-sm-4" style="padding-left:0;padding-right:0;text-align:right">
        <input n:name="submit" type="submit" class="btn btn-default" value="Registrovat se" style="border-left:none;height:40px;width: 100%;border-top-left-radius: 0;border-bottom-left-radius:0">
    </div>
</form>