{default $current = 1}
<div class="col-sm-12">
    <div class="col-sm-4"><span>1. Doprava a platba</span></div>
    <div class="col-sm-4"><span>2. Osobní a doručovací údaje</span></div>
    <div class="col-sm-4"><span>3. Dokončená objednávka</span></div>
</div>