# Author: Petr Šebela
# Date: 21. 9. 2020
# Time: 22:10

parameters:

extensions:
    dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
    migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    translation: Contributte\Translation\DI\TranslationExtension
    comgate: Contributte\Comgate\DI\ComgateExtension

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

latte:
    macros:
        - App\Model\Latte\LatteMacros

session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\UserRegistrationService
	- App\Model\CategoryService
	- App\Model\ProductService
	- App\Model\ShippingAndPaymentService
	- App\Model\OrderService
	- App\Model\QuoteService
	- App\Model\AddProductService
	- App\Model\NewsletterService
	- App\Model\FindService
	- App\Model\InvoiceService
	- App\Model\Session\CartService(@session::getSection('products'))
	- App\Model\Services\ComgateService
	- App\Model\Security\Authenticator
	- App\Model\Authorizator
	user:
	    class: App\Model\Security\User


decorator:
    App\Model\Services\ComgateService:
        setup:
            - $isTest = %comgate.isTest%

orm:
    model: App\Model\Orm

migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras

translation:
    locales:
        whitelist: [cs]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/lang
    debugger: true

console:
	url: %baseUrl%

includes:
    - ../AdminModule/config/common.neon
    - ../FrontModule/config/common.neon
    - ../ApiModule/config/common.neon