# Author: Petr Šebela
# Date: 21. 9. 2020
# Time: 22:10

parameters:
    baseUrl: 'http://localhost.loc'
    comgate:
        isTest: true

comgate:
    merchant: "123456"
    secret: 'asfSAFFAooisafiofa'
    test: true

dbal:
	connectionTz: auto-offset
	simpleStorageTz: "Europe/Prague"
	driver: mysqli
	host: localhost
	database: database
	username: root
	password:
