<!DOCTYPE html>
<html lang="cs">
<head>
    {include "_layout/head.latte"}
    {include "_layout/head-scripts.latte"}
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                {include content}

            </div>

        </div>

    </div>

    {include '_layout/footer-scripts.latte'}
</body>
</html>