param1: centrální zamykání
param2: nastavitelná sedadla
param3: příprava pro autorádio
param4: el. ovládání oken
param5: palubní počítač
param6: venkovní teploměr
param7: litá kola
param8: park. senzory
param9: autorádio
param10: autorádio s CD
param11: dálkové centrální zamykání
param12: rezerva
param13: multifunkční rádio
param14: klimatizace
param15: záruka
param16: ABS