{block content}
<a n:href="Product:default" class="btn btn-primary" style="margin-top: 15px"><i class="fas fa-chevron-left"></i> Zpět do správy produktů</a>
<h2 style="margin-top: 30px">Přidat produkt</h2>
<hr>
<div class="col-sm-12" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-6">
            {control addProductForm}
        </div>
    </div>
</div>