<!DOCTYPE html>
<html xml:lang="cs" lang="cs" prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>{ifset #title}{include title|striptags} | Moped Auto - Auto od 15 let{else}Moped Auto - Auto od 15 let{/ifset}</title>
        <meta name="description" content="{ifset #description}{include description|striptags}{else}mopedauto.cz{/ifset}"/>
        <meta property="og:description" content="{ifset #description}{include description|striptags}{else}mopedauto.cz - Moped Auto - Auto od 15 let.{/ifset}"/>
        <meta name="robots" content="{ifset #robots}{include robots}{else}index,follow{/ifset}" />
        <meta property="og:title" content="{ifset #title}{include title|striptags} | Moped Auto - Auto od 15 let{else}Moped Auto - Auto od 15 let{/ifset}"/>

        {include './include/head.latte'}
        {include './include/head-styles.latte'}
        {include './include/head-scripts.latte'}
    </head>
    <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v13.0&appId=237634617584050&autoLogAppEvents=1" nonce="jTAIKL0W"></script>
    <div class="page-wrapper">

        <!-- Preloader -->
        {*<div class="preloader"></div>*}

        {include './include/menu.latte'}

        <div n:snippet="flashes">
            {foreach $flashes as $flashMessage}
                {varType string $alertType}
                {switch $flashMessage->type}
                    {case "error"}
                    {var $alertType = "danger"}
                    {case "info"}
                    {var $alertType = "primary"}
                    {case "warning"}
                    {var $alertType = "warning"}
                    {case "success"}
                    {var $alertType = "success"}
                    {default }
                    {var $alertType = "primary"}
                {/switch}
                <div class="alert alert-{$alertType}" role="alert">
                    {_$flashMessage->message}
                </div>
            {/foreach}
        </div>

        {include #content}

        {include './include/footer.latte'}

    </div>
    <div class="modal fade" id="newPopup" tabindex="-1" role="dialog" aria-labelledby="newPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="newPopupLabel">Vítejte na novém webu mopedauto.cz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    <p>
                         Jedná se o pilotní provoz, berte prosím ohledy na možné chyby, které v průběhu ladíme.
                    </p>
                    <p>
                        <b>Nabídka mopedaut a přihlášení k Vašemu účtu s objednávkami bude doplněno.</b>
                    </p>
                    <p>
                        V případě jakéhokoliv problému nás kontaktujte na <a href="tel:+420723049353">+420 723 049 353</a> nebo <a href="mailto:info@mopedauto.cz">info@mopedauto.cz</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="forgetMe">Rozumím</button>
                </div>
            </div>
        </div>
    </div>
        {include './include/footer-scripts.latte'}
        {ifset #scripts}
            {include #scripts}
        {/ifset}
        <script>
            if(localStorage.getItem("DontShow")) {
                $('#newPopup').modal("hide");
            } else {
                $('#newPopup').modal("show");
            }
            $(document).on("click", "#newPopup", function() {
                localStorage.setItem("DontShow", "true");
            });
        </script>
    </body>
</html>