<!DOCTYPE html>
<html xml:lang="cs" lang="cs" prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>{ifset #title}{include title|striptags} | Moped Auto - Auto od 15 let{else}Moped Auto - Auto od 15 let{/ifset}</title>
        {include './include/head.latte'}
        {include './include/head-styles.latte'}
        {include './include/head-scripts.latte'}
    </head>
    <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v13.0&appId=237634617584050&autoLogAppEvents=1" nonce="jTAIKL0W"></script>
    <div class="page-wrapper">

        <!-- Preloader -->
        {*<div class="preloader"></div>*}

        {include './include/menu.latte'}

        {include #content}

        {include './include/footer.latte'}

    </div>
        {include './include/footer-scripts.latte'}
        {ifset #scripts}
            {include #scripts}
        {/ifset}
    </body>
</html>