# Author: Petr Šebela
# Date: 21. 9. 2020
# Time: 22:37

services:
    #SERVICES

    #COMPONENTS
    - App\AdminModule\Components\IMenuComponentFactory

    #DATAGRIDS
    - App\AdminModule\Components\ProductsDatagridFactory
    - App\AdminModule\Components\OrdersDatagridFactory
    - App\AdminModule\Components\DocumentsDatagridFactory
    - App\AdminModule\Components\CouriersDatagridFactory
    - App\AdminModule\Components\CarsDatagridFactory

    #FORMS
    - App\AdminModule\Forms\ICategoryFormFactory
    - App\AdminModule\Forms\IProductFormFactory
    - App\AdminModule\Forms\ILoginFormFactory
    - App\AdminModule\Forms\IEditRightsFormFactory
    - App\AdminModule\Forms\ISettingsFormFactory
    - App\AdminModule\Forms\IUserFormFactory
    - App\AdminModule\Forms\IOrderStateFormFactory
    - App\AdminModule\Forms\IAssignCourierFormFactory
    - App\AdminModule\Forms\IOrderFormFactory
    - App\AdminModule\Forms\IProductImagesFormFactory
    - App\AdminModule\Forms\IVehicleImagesFormFactory
    - App\AdminModule\Forms\ICarFormFactory