<form  n:name="personalDataForm">
    <div class="col-sm-6">
        <h2>Osobní údaje</h2>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Jméno *</label>
            <input n:name="name" class="form-control" id="inputEmail4" required="required">
        </div>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Příjmení *</label>
            <input n:name="surname" class="form-control" id="inputEmail4" required="required">
        </div>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Telefon *</label>
            <input n:name="telephone" class="form-control" id="inputEmail4" required="required">
        </div>
        <div class="form-group col-md-12">
            <label for="inputEmail4">E-mail *</label>
            <input n:name="email" class="form-control" id="inputEmail4" required="required">
        </div>

        <h2>Adresa</h2>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Ulice a číslo popisné *</label>
            <input n:name="street" class="form-control" id="inputEmail4" required="required">
        </div>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Město *</label>
            <input n:name="city" class="form-control" id="inputEmail4" required="required">
        </div>
        <div class="form-group col-md-12">
            <label for="inputEmail4">PSČ *</label>
            <input n:name="psc" class="form-control" id="inputEmail4" required="required">
        </div>

        <div class="form-group col-md-12">
            <input type="checkbox" n:name="companyBuy"><label n:name="companyBuy"> Nakupuji na firmu</label>
        </div>

        <div id="company-wrapper">
            <h2>Firemní údaje (Nakupuji na firmu)</h2>
            <p>(nejsme plátci DPH)</p>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Firma *</label>
                <input n:name="company" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">IČO *</label>
                <input n:name="ico" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            {*
            <div class="form-group col-md-12">
                <label for="inputEmail4">DIČ</label>
                <input n:name="dic" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            *}
        </div>

        <div class="form-group col-md-12">
            <input type="checkbox" n:name="otherAddress"><label n:name="otherAddress"> Doručit na jinou adresu</label>
        </div>

        <div id="address-wrapper">
            <h2>Doručit na jinou adresu</h2>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Jméno *</label>
                <input n:name="deliveryName" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Příjmení *</label>
                <input n:name="deliverySurname" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Firma</label>
                <input n:name="deliveryCompany" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Ulice a číslo popisné *</label>
                <input n:name="deliveryStreet" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Město *</label>
                <input n:name="deliveryCity" class="form-control" id="inputEmail4"  placeholder="">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">PSČ *</label>
                <input n:name="deliveryPsc" class="form-control" id="inputEmail4"  placeholder="">
            </div>
        </div>

        <h2>Poznámka</h2>
        <div class="form-group col-md-12">
            <label for="inputEmail4">Vaše poznámka</label>
            <textarea n:name="note" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-sm-12">
        <p>Informace, které nám předáváte, zpracováváme podle <a href="">pravidel zpracování osobních údajů.</a></p>
        <p>
            <input type="checkbox" name="terms" id="termsAndConditions" required>
            <label for="termsAndConditions">Souhlasím s <a href="">obchodními podmínkami.</a></label>
        </p>
    </div>
    <div class="col-sm-12">
        <a href="{plink Cart:step1}" class="btn btn-default cart pull-left">Zpět k dopravě a platbě</a>
        <input n:name="submit" class="btn btn-default cart pull-right">
    </div>
</form>