<form  n:name="findForm" id="main-contact-form" name="contact-form" method="post">
    <div class="col-sm-9" style="padding-right:0px">
        <input n:name="phrase" type="text" class="auto" autocomplete="off" placeholder="Zadejte hledaný produkt..." style="width:100% !important" required>
    </div>
    <div class="col-sm-3" style="padding-left:0px;padding-right: 0">
        <input n:name="submit" type="submit" style="width:100%;padding-right: 0" value="Hledat">
    </div>
</form>