<!-- Subscribe Section -->
<section class="subscribe-section">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h3>Nabídka náhradních dílů pro Mopedauta</h3>
            <a href="#" class="call-btn">E-SHOP</a>
        </div>
    </div>
</section>