{varType App\Model\Product $product}
{default $car = false}
<div class="col-sm-12">
    <a href="{link Homepage:default}"><i class="flaticon-home"></i></a>
    /
    <a href="{link Cars:default}">
        Nabídka mopedaut
    </a>
    <a n:if="$car">
        / {$car->name}
    </a>
</div>