<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vaše objednávka č. {$id} | Animalko.cz - Veterinární a chovatelské vybavení</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/email.css" />
    <style>
        /* -------------------------------------
		GLOBAL
------------------------------------- */
        * {
            margin:0;
            padding:0;
        }
        * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

        img {
            max-width: 100%;
        }
        .collapse {
            margin:0;
            padding:0;
        }
        body {
            -webkit-font-smoothing:antialiased;
            -webkit-text-size-adjust:none;
            width: 100%!important;
            height: 100%;
        }


        /* -------------------------------------
                ELEMENTS
        ------------------------------------- */
        a { color: #2BA6CB;}

        .btn {
            text-decoration:none;
            color: #FFF;
            background-color: #666;
            padding:10px 16px;
            font-weight:bold;
            margin-right:10px;
            text-align:center;
            cursor:pointer;
            display: inline-block;
        }

        p.callout {
            padding:15px;
            background-color:#ECF8FF;
            margin-bottom: 15px;
        }
        .callout a {
            font-weight:bold;
            color: #2BA6CB;
        }

        table.social {
            /* 	padding:15px; */
            background-color: #ebebeb;

        }
        .social .soc-btn {
            padding: 3px 7px;
            font-size:12px;
            margin-bottom:10px;
            text-decoration:none;
            color: #FFF;font-weight:bold;
            display:block;
            text-align:center;
        }
        a.fb { background-color: #3B5998!important; }
        a.tw { background-color: #1daced!important; }
        a.gp { background-color: #DB4A39!important; }
        a.ms { background-color: #000!important; }

        .sidebar .soc-btn {
            display:block;
            width:100%;
        }

        /* -------------------------------------
                HEADER
        ------------------------------------- */
        table.head-wrap { width: 100%;}

        .header.container table td.logo { padding: 15px; }
        .header.container table td.label { padding: 15px; padding-left:0px;}


        /* -------------------------------------
                BODY
        ------------------------------------- */
        table.body-wrap { width: 100%;}


        /* -------------------------------------
                FOOTER
        ------------------------------------- */
        table.footer-wrap { width: 100%;	clear:both!important;
        }
        .footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
        .footer-wrap .container td.content p {
            font-size:10px;
            font-weight: bold;

        }


        /* -------------------------------------
                TYPOGRAPHY
        ------------------------------------- */
        h1,h2,h3,h4,h5,h6 {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
        }
        h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

        h1 { font-weight:400; font-size: 44px;}
        h2 { font-weight:400; font-size: 37px;}
        h3 { font-weight:400; font-size: 27px;}
        h4 { font-weight:400; font-size: 23px;}
        h5 { font-weight:400; font-size: 17px;}
        h6 { font-weight:400; font-size: 14px; color:#444;}

        .collapse { margin:0!important;}

        p, ul {
            margin-bottom: 10px;
            font-weight: normal;
            font-size:14px;
            line-height:1.6;
        }
        p.lead { font-size:17px; }
        p.last { margin-bottom:0px;}

        ul li {
            margin-left:5px;
            list-style-position: inside;
        }

        /* -------------------------------------
                SIDEBAR
        ------------------------------------- */
        ul.sidebar {
            background:#ebebeb;
            display:block;
            list-style-type: none;
        }
        ul.sidebar li { display: block; margin:0;}
        ul.sidebar li a {
            text-decoration:none;
            color: #666;
            padding:10px 16px;
            /* 	font-weight:bold; */
            margin-right:10px;
            /* 	text-align:center; */
            cursor:pointer;
            border-bottom: 1px solid #777777;
            border-top: 1px solid #FFFFFF;
            display:block;
            margin:0;
        }
        ul.sidebar li a.last { border-bottom-width:0px;}
        ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



        /* ---------------------------------------------------
                RESPONSIVENESS
                Nuke it from orbit. It's the only way to be sure.
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            display:block!important;
            max-width:600px!important;
            margin:0 auto!important; /* makes it centered */
            clear:both!important;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            padding:15px;
            max-width:600px;
            margin:0 auto;
            display:block;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table { width: 100%; }


        /* Odds and ends */
        .column {
            width: 300px;
            float:left;
        }
        .column tr td { padding: 15px; }
        .column-wrap {
            padding:0!important;
            margin:0 auto;
            max-width:600px!important;
        }
        .column table { width:100%;}
        .social .column {
            width: 280px;
            min-width: 279px;
            float:left;
        }

        /* Be sure to place a .clear element after each set of columns, just to be safe */
        .clear { display: block; clear: both; }


        /* -------------------------------------------
                PHONE
                For clients that support media queries.
                Nothing fancy.
        -------------------------------------------- */
        @media only screen and (max-width: 600px) {

            a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

            div[class="column"] { width: auto!important; float:none!important;}

            table.social div[class="column"] {
                width:auto!important;
            }

        }
        body{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.428571429;
            color: #333;
        }
        .btn-primary {
            color: #fff;
            background-color: #428bca;
            border-color: #357ebd;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .col-sm-12{
            width: 100%;
            float:left;
        }
        .col-sm-6{

        }
        .table {
            width: 100%;
            margin-bottom: 20px;
        }
        .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }
        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: top;
        }
        .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: #f9f9f9;
        }
        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
        *, *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        th {
            text-align: left;
        }
    </style>
</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#F3F3F3">
    <tr>
        <td></td>
        <td class="header container">

            <div class="content">
                <table bgcolor="#F3F3F3">
                    <tr>
                        <td><img src="{$basePath}/img/logo.png" width="200" /></td>
                        <td align="right"><h6 class="collapse">Nová objednávka <a style="color:black;font-size:18px"><b>č. {$id}</b></a></h6></td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
                <table>
                    <tr>
                        <td>
                            {if $name!==false}
                                <h4>Dobrý den, {$name},</h4>
                            {else}
                                <h4>Dobrý den,</h4>
                            {/if}
                            <p class="lead">
                                děkujeme za Vaši objednávku na Animalko.cz.
                                <br>
                                Vaše objednávka <b>č. {$id}</b> bude zkontrolována a po uhrazení expedována našim pracovníkem.
                                <br>
                                zasíláme Vám instrukce k zaplacení Vaší objednávky na Animalko.cz. Proveďte platbu s následujícími údaji:
                                <table>
                                    <tr><td>Číslo účtu:</td><td>2001461035/2010</td></tr>
                                    <tr><td>Variabilní symbol:</td><td>{$id}</td></tr>
                                    <tr><td>Částka:</td><td>{ceil($totalPriceVat)} Kč (nutno uvést přesně)</td></tr>
                                </table>
                                <br>
                                Poté Vás budeme informovat o čase doručení.
                                <br><br>
                                <a href="https://www.animalko.cz/kosik/dokoncena-objednavka/{$hash}" class="btn" style="background: #e6e3e3;border-radius: 0;color:black">Sledovat stav objednávky</a>
                            </p>
                            <p>
                            <table class="table table-striped" style="margin: 10px;">
                                <thead>
                                <tr><th></th><th>Název</th><th>Cena s DPH</th><th>Množství</th><th>Celková cena s DPH</th></tr>
                                </thead>
                                <tbody>
                                {foreach $ordersItems as $item}
                                    <tr><td></td><td>{$item->name|noescape}</td><td>{$item->priceVat} Kč</td><td>{$item->quantity} ks</td><td>{$item->priceVat*$item->quantity} Kč</td></tr>
                                {/foreach}
                                <tr><td></td><td  colspan="3" style="text-align: right"><b>Celkem s DPH: </b></td><td><b>{ceil($totalPriceVat)} Kč</b></td></tr>
                                </tbody>
                            </table>
                            </p>
                            <!-- A Real Hero (and a real human being) -->
                            {*
                            <br>
                            <p>
                            <h4>Chcete vyhrát prémiové krmivo Calibra Dog HA Starter? <br> Zůčastněte se naší souteže na facebooku!</h4>
                            <a class="btn btn-success" style="background: linear-gradient(to top,#a00,#cd0101 57%);border-radius:0;border:none">Zůčastnit se soutěže</a>

                            </p>
                            *}
                            {*
                            <p><img src="http://placehold.it/600x300" /></p><!-- /hero -->

                            <!-- Callout Panel -->
                            <p class="callout">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. <a href="#">Do it Now! &raquo;</a>
                            </p><!-- /Callout Panel -->
                            *}
                            <br/>

                            <!-- social & contact -->
                            <table class="social" width="100%">
                                <tr>
                                    <td>

                                        <!--- column 1 -->
                                        <table align="left" class="column">
                                            <tr>
                                                <td>

                                                    <h5 class="">Spojte se s námi!</h5>
                                                    <p class="">
                                                        <a href="https://www.facebook.com/animalko.cz/" class="soc-btn fb">Facebook</a>
                                                        {*
                                                        <a href="#" class="soc-btn tw">Twitter</a>
                                                        <a href="#" class="soc-btn gp">Google+</a>
                                                        *}
                                                    </p>


                                                </td>
                                            </tr>
                                        </table><!-- /column 1 -->

                                        <!--- column 2 -->
                                        <table align="left" class="column">
                                            <tr>
                                                <td>

                                                    <h5 class="">Kontakt:</h5>
                                                    <p>Telefon: <strong>+420 605 200 686</strong><br/>
                                                        Email: <strong><a href="emailto:info@animalko.cz">info@animalko.cz</a></strong></p>

                                                </td>
                                            </tr>
                                        </table><!-- /column 2 -->

                                        <span class="clear"></span>

                                    </td>
                                </tr>
                            </table><!-- /social & contact -->


                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>
                                {*<a href="#">Terms</a> |
                                <a href="#">Privacy</a> |
                                <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>*}
                                <a>Email byl zaslán na základě odeslané objednávky na animalko.cz</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div><!-- /content -->

        </td>
        <td></td>
    </tr>
</table><!-- /FOOTER -->

</body>
</html>