<form n:name="editParentCategoryForm" class="form" style="width: 100%">
    <div class="form-group">
        <label n:name="parent">Rodičovská kategorie: </label>
        <select class="form-control" n:name="parent"></select>
    </div>
    <div class="form-group">
        <input class="form-control btn btn-primary" n:name="submit" value="Upravit kategorii">
    </div>
</form>