{block content}
<a n:href="Category:default" class="btn btn-primary" style="margin-top: 15px"><i class="fas fa-chevron-left"></i> Zpět do správy kategorií</a>
<h2 style="margin-top: 30px">Přidat kategorii</h2>
<hr>
<div class="col-sm-12" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-6">
            {control addCategoryForm}
        </div>
    </div>
</div>