{block title}Informace o mopedautech{/block}
{block description}Moped auta jsou lehké čtyřkolky, jejichž pohotovostní hmotnost nesmí překročit 350 kg, jsou vybaveny motorem o největším výkonu 4 kW a nejvyšší rychlost je omezena na 45 km/h, to vše při spotřebě pod 3,5 l na 100 km. Jsou obdobou mopedů a mohou být řízeny s nebo bez řidičského průkazu, podle legislativy konkrétní země (v ČR se řidičí musí řídit zákonem 56/2001 strana 1989 ods. c)).{/block}
{block content}

{include '../Homepage/include/about.latte'}