{block content}
<section class="about-us pb-0">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <h2>Zásady ochrany osobních údajů</h2>
                <div class="text">
                    <p>Obchodní podmínky <a href="{$basePath}/files/gdpr.pdf" target="_blank">ke stažení zde</a></p>
                </div>
            </div>
        </div>
    </div>
</section>