{block title}Servis a opravna mopedaut{/block}
{block descriptoon}Jsme autorizovaným servisem pro vozy Aixam. Avšak nabízíme servis a opravnu i pro další značky mopedaut jako jsou např.  Ligier, Microcar, JDM, Bellier, Italcar, Tasso atd.{/block}
{block content}

{include '../Homepage/include/servis.latte'}

{control serviceForm}