<form  n:name="shippingAndPaymentForm">
    <div id="shipping-container">
        <h2>Způsob doručení</h2>
        <div class="col-sm-12">
            <span>
                <input n:name="shipping:2">
                <label n:name="shipping:2">Osobní odběr</label>
                <a>Zdarma</a>
            <br>
            </span>
            <span>
                <input n:name="shipping:1">
                <label n:name="shipping:1">PPL malý balík</label>
                <a>161 Kč</a>
            </span>
        </div>
    </div>
    <div id="payment-container">
        <h2>Způsob platby</h2>
        <div class="col-sm-12">
            <span id="payment-type-2">
                <input n:name="payment:2">
                <label n:name="payment:2">V hotovosti</label>
                <a>Zdarma</a>
            <br>
            </span>
            <span id="payment-type-1">
                <input n:name="payment:1">
                <label n:name="payment:1">Dobírka</label>
                <a>30 Kč</a>
            </span>
        </div>
    </div>
    <a href="{plink Homepage:default}" class="btn btn-default cart pull-left">Zpět do obchodu</a>
    <input n:name="submit" class="btn btn-default cart pull-right">
</form>