<form n:name="shippingAndPaymentForm" class="cart-form-s checkout-form">
    <div id="shipping-container">
        <h2>Způsob doručení</h2>
        <div class="col-sm-12">
            <label n:name="shipping:App\Model\Order::TYPE_DELIVERY_PERSONAL">
                <input n:name="shipping:App\Model\Order::TYPE_DELIVERY_PERSONAL">
                Osobní odběr <span class="font-weight-bold">Zdarma</span>
            </label>
            {if $hasHeavyProduct}
                <label n:name="shipping:App\Model\Order::TYPE_DELIVERY_ADDRESS_BIG">
                    <input n:name="shipping:App\Model\Order::TYPE_DELIVERY_ADDRESS_BIG">
                    TOPTRANS velký balík <span class="font-weight-bold">249 Kč</span>
                </label>
            {else}
               <label n:name="shipping:App\Model\Order::TYPE_DELIVERY_ADDRESS">
                    <input n:name="shipping:App\Model\Order::TYPE_DELIVERY_ADDRESS">
                    TOPTRANS malý balík <span class="font-weight-bold">179 Kč</span>
                </label>
            {/if}
        </div>
    </div>
    <div id="payment-container">
        <h2>Způsob platby</h2>
        <div class="col-sm-12">
            <label n:name="payment:App\Model\Order::TYPE_PAYMENT_CASH">
                <div id="payment-type-{App\Model\Order::TYPE_PAYMENT_CASH}">
                    <input n:name="payment:App\Model\Order::TYPE_PAYMENT_CASH">
                    V hotovosti <span class="font-weight-bold">Zdarma</span>
                </div>
            </label>
            <label n:name="payment:App\Model\Order::TYPE_PAYMENT_CASH_ON_DELIVERY">
                <div id="payment-type-{App\Model\Order::TYPE_PAYMENT_CASH_ON_DELIVERY}">
                    <input n:name="payment:App\Model\Order::TYPE_PAYMENT_CASH_ON_DELIVERY">
                    Dobírka <span class="font-weight-bold">Zdarma</span>
                </div>
            </label>
            <label n:name="payment:App\Model\Order::TYPE_PAYMENT_CARD">
                <div id="payment-type-{App\Model\Order::TYPE_PAYMENT_CARD}">
                    <input n:name="payment:App\Model\Order::TYPE_PAYMENT_CARD">
                    Kartou <span class="font-weight-bold">Zdarma</span>
                </div>
            </label>
        </div>
    </div>

    <div class="col-sm-12 xs-mob-n" style="padding:25px 15px">
        <a href="{plink SpareParts:default}" class="theme-btn btn-style-def pull-left">Zpět do obchodu</a>
        <input n:name="submit" class="theme-btn btn-style-def pull-right" style="cursor: pointer">
    </div>

</form>