<form  n:name="addProductForm" id="main-contact-form" name="contact-form" method="post">
    <div class="col-sm-2" style="padding:0">
        <input n:name="quantity" class="form-control"  value="1" min="1" style="height:50px;font-size:25px;color:black;">
    </div>
    <div class="col-sm-10" style="padding-right:0;text-align:right">
        <input n:name="submit" type="submit" style="float:left;width: 65%;margin-left:0px;padding: 14px 10px;border-radius: 0;color:white" class="btn btn-default add-to-cart cart add-t-c" value="Přidat do košíku" style="width:150px;padding:10px;margin-top:5px;color:black;background:#f3f3f3;border:1px solid #e003">
    </div>
</form>