<form  n:name="addProductForm" id="main-contact-form" name="contact-form" method="post" class="cart-form-s checkout-form">
    <div class="item-quantity">
        <input class="quantity-spinner" type="number" value="1" min="1" n:name="quantity">
    </div>
    <button type="submit" class="theme-btn btn-style-six" n:name="submit">Vložit do košíku</button>
</form>